#canvas {
    /* background-color: #0D0909; */
    width: 300px;
    height: 300px;
    border: 3px black solid;
    background-color: white;
    cursor: url("https://static.cargo.site/images/up.png"), auto !important;

}

.container-input {
    text-align: center;
    /* background: #282828;
    border-top: 5px solid #c39f77; */
    /* padding: 50px 0; */
    border-radius: 6px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}


.inputfile-1+label {
    color: rgb(0, 0, 0);
    /* background-color: #c39f77; */
    background: #e7d000;
    border-radius: 6px;
}

#btnDescargar {
    color: #fff;
    /* background-color: #c39f77; */
    /* background: #008547; */
    background: #2948f7;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
    border: none;
    border-radius: 6px;
}

#limpiar {
    color: #fff;
    /* background-color: #c39f77; */
    background: #9e1200;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
    border: none;
    border-radius: 6px;
}

#btnDescargar:hover {
    background-color: #9f8465;

}

#limpiar:hover {
    background-color: #9f8465;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #9f8465;
}

#mdialTamanio {
    width: 100% !important;
}

#myModalpixel {
    width: 600px !important;
    height: 500px !important;
}

.signature-pad {
    width: 580px;
    height: 400px;
}

#primero {
    /* border: 6px solid #323333; */
    background: #5DEAA8;
    background-color: rgb(145, 180, 194);
    /* height: 100px; */
    /* width: 200px;
    padding: 10px; */
    margin: 10px;
    border-radius: 6px;
}
#segundo {
    /* border: 6px solid #3EC483; */
    background: #5DEAA8;
    background-color: rgb(145, 180, 194);
    height: 100px;
    text-align: center;
    /* width: 200px;
    padding: 10px; */
    margin: 10px;
    border-radius: 6px;
}