/*Quitamos los bordes invisibles a nuestra página*/
html,
body {
	margin: 0;
	padding: 0;
	background-color: rgb(64, 54, 77);
}

/*Centramos nuestro contenido total*/
#page {
	position: relative;
	width: 100%;
	height: 100%;
	/* margin: auto; esta es la clave para centrar contenido */
}

body {
	overflow: hidden;
}

#device {
	position: relative;
	border: 5px double rgb(90, 81, 81);
	/* border-radius: 45px; */
	width: 1000px;
	height: 650px;
	margin: auto;
	margin-top: 20px;
	background-color: rgb(46, 30, 39);
	box-shadow: 5px 5px 45px rgb(119, 68, 116);

}


#screen {
	position: relative;
	border: 3px solid rgb(53, 50, 50);
	/* border-radius: 3px; */
	width: 940px;
	height: 590px;
	margin: auto;
	margin-top: 25px;
	background: rgb(88, 71, 88);
}

#main_screen {
	position: absolute;
	width: 100%;
	height: 100%;

	/* background: url('../rsc/pics/screen_main.png') #AAA; */
	z-index: 0;
}


#lbl_time_top {
	position: relative;
	display: block;
	margin: auto;
	text-align: center;
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}

#btn_unlock {
	position: relative;
	margin: auto;
	height: 68px;
	width: 68px;
	border: 3px solid #FFF;
	top: 230px;
	border-radius: 100px;
	/* background: url('../rsc/imgs/locks.png') no-repeat; */
	background-position: 6px 0px;
	opacity: 0.8;
	cursor: pointer;
}

#btn_unlock:active {
	background-position: -80px 0px;
	background-color: rgba(0, 999, 0, 0.4);
	height: 75px;
	width: 75px;
}

#topbar {
	position: absolute;
	width: 100%;
	height: 18px;
	background: #000;
	top: 0px;
	opacity: 0.8;
}

#main_menu {
	position: absolute;
	width: 100%;
	height: 1px;
	background: rgba(34, 32, 32, 0.5);
	bottom: 0px;
}

#panel {
	position: absolute;
	width: 100%;
	height: 400px;
	top: 40px;
}

#panel_icons {
	position: relative;
	margin: auto;
	width: 95%;
	height: 90%;
}

#panel_fondo {
	overflow: auto;
	position: relative;
	margin: auto;
	width: 95%;
	height: 90%;
}

#panel_fond {
	overflow: auto;
	position: relative;
	margin: auto;
	width: 95%;
	height: 90%;
	background-color: mistyrose;
}

.fond {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 30px;
	float: left;
	cursor: pointer;
	background-position: top center;
}

.label_fond {
	position: relative;
	width: 100%;
	height: 13px;
	color: #DDD;
	background: rgba(0, 0, 0, 0.4);
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	border-radius: 8px;
	text-align: center;
	top: 70px;
}

.icons {
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20px;
	float: inherit;
	cursor: pointer;
}

.iconsFondo {
	position: relative;
	width: 200px;
	height: 150px;
	margin: 5px;
	float: left;
	cursor: pointer;
	background-size: 200px 150px;
	background-position: center center;
}

.label_icon {
	position: relative;
	width: 100%;
	height: 13px;
	color: #DDD;
	background: rgba(0, 0, 0, 0.4);
	font-family: Segoe UI, Verdana;
	font-size: 12px;
	border-radius: 8px;
	text-align: center;
	top: 70px;
}

#main_app {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(34, 34, 34);
	z-index: 1;
}

#main_app iframe {
	overflow: hidden;
	border: none;
}

#btn_editFondo {
	background-color: transparent;
}

.imgFondo {
	float: inline-end;
}


.modal-dialog {
	width: 455px;
	height: 380px;
}
.modal-content {
	background-color: rgb(192, 192, 192);
}
.modal-header {
	text-align: center;
	height: 40px;
	color: rgb(255, 255, 255);
	background-color: rgb(56, 56, 56);
}
.modal-header button{
	width: 30px;
	height: 26px;
	border-radius: 8px;
	color: white;
	background-color: rgb(255, 0, 0);
}
.modal-header span{
	color: white;
}

#btn_config {
	margin-right: 400px;
	display: inline-block;
}

#lbl_time_top {
	display: inline-block;
}

#date {
	margin-top: 30px;
	margin-left: 340px;
}

.ui-datepicker {
	background: rgba(0, 0, 0, 0.4);
}

.ui-datepicker-header {
	/* background: url('../img/dark_leather.png') repeat 0 0 #000; */
	background: rgb(34, 34, 34);
	color: #e0e0e0;
	font-weight: bold;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	text-shadow: 1px -1px 0px #000;
	filter: dropshadow(color=#000, offx=1, offy=-1);
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background: springgreen;
	line-height: 600%;
	overflow: hidden;
}

.ui-datepicker thead {
	background-color: #504f4f;
	color: white;
	border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
	text-transform: uppercase;
	font-size: 10pt;
	padding: 5px 0;
	color: #ffffff;
}

.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid rgb(0, 0, 0);
}

.ui-datepicker tbody td:last-child {
	border-right: 0px;
}

.ui-datepicker tbody tr {
	border-bottom: 1px solid rgb(121, 121, 121);
}

.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}


.ui-datepicker td span,
.ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
	background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
	background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
	background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
	background: linear-gradient(top, #ededed 0%, #dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}


.ui-datepicker-calendar .ui-state-active {
	background: #6fddf8;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0px 1px 0px #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #55838f;
	position: relative;
	margin: -1px;
}

.ui-datepicker-next:hover {
	border: none !important;
	top: 3px !important;
	right: 3px !important;
	background: rgb(252, 255, 97) !important;
	cursor: pointer;
}

.ui-datepicker-prev:hover {
	border: none !important;
	top: 3px !important;
	left: 3px !important;
	background: rgb(252, 255, 97) !important;
	cursor: pointer;
}