#post_box{
	position: relative;
	width: 550;
	margin: auto;
	height: 120px;
	top: 0px;
	text-align: center;
	background: #E5F4F4;
	
}



#main_panel{
	position: relative;
	width: 550;
	border: 0px solid #CCC;
	margin: 0;
	height: 360px;
	/* overflow: auto; */
}

#txt_post{
	position: relative;
	border: 1px solid #008E8E;
	border-radius: 4px;
	width: 90%;
	height: 30px;
}

.cajatexto{
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #3AB0B0;
	width: 300px;
	color: #555;
}

.post_block{
    position: relative;
	width: 95%;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	background: #FFF;
	height: auto;
	border: 1px solid #DDD;
	border-top: 4px solid #3AB0B0;
}
.boton_eliminar{
	float: right;
	position: relative;
}
.post_block:hover{
	background: rgb(144, 136, 145);
}

.published_date{
	font-size: 10px;
    font-family: "Verdana";
    position: relative;
    color: #BBB;
	margin: 5px;
	text-align: right;
}

.post_detail{
	font-size: 14px;
    font-family: "Verdana";
    position: relative;
    color: #333;
	margin: 5px;
	text-align: justify;
}

.boton{
	border: 1px solid #008E8E;
	background: #3AB0B0;
	color: #FFF;
	height: 34px;
	border-radius: 4px;
	cursor: pointer;
}

#btn_save{
	position: relative;
	width: 50%;
	margin-top: 10px;
}

#user_box span{
	float: left;
	clear: both;
	position: absolute;
	top: 22px;
	left: 75px;
	color: #FFF;
	text-shadow: 1px 1px 0px #AAA;
}

#msg_box_container{
	position: fixed;
	margin-left: auto;
	left:0;
	right:10px;
	width:350px;
	top:10px;
	z-index: 100;
	font-size: 11px;
	font-family: 'Arial';
}

.msg_box{
	position: relative;
	border: 1px solid #CCCCCC;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
}

.msg_box_user{
	position: absolute;
	top:200px;
	border: 5px solid #CCCCCC;
	background: #EEE;
	padding: 10px;
	color: #333;
	/*text-shadow: 2px 2px 2px #000;*/
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	z-index: 100;
	box-shadow: 2px 2px 15px #000;
}


#panel_app{
	position: relative;
	border: 1px solid #DDD;
	margin: 0px;
	background-color: #FFF;
	height: 400px;
	width: 580px;
	overflow: scroll;
}

#mdialTamanio {
    width: 100% !important;
	
}
#myModal {
	height: 500px !important;
    width: 600px !important;
}